            body {
                background-color: lightyellow;
                font-size: medium;
            }
            p {
                color: #0000FF
            }
            h1 {
                font-family: sans-serif;
            }
            .escarcha {
                font-size: 100px;
            }